<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet" />
    <title>Vue Js Course</title>
</head>

<body>

    <div id="app">
        <section class="todoapp">
            <header class="header">
                <h1>todos</h1>
                <input v-model="newTodo" @keyup.enter="addTodo" class="new-todo" autocomplete="off"
                    placeholder="What needs to be done?">
            </header>
            <section class="main">
                <input class="toggle-all" id="toggle-all" type="checkbox" v-model="allDone">
                <label for="toggle-all">Mark all as complete</label>

                <ul class="todo-list">
                    <li class="todo" v-for="todo in filteredTodos"
                        :class="{completed:todo.completed,editing:todo == editingTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="todo.completed">
                            <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                            <button class="destroy" @click="deleteTodo(todo)"></button>
                        </div>
                        <input class="edit" type="text" v-model="todo.title" @keyup.enter="doneEditing()"
                            @keyup.esc="cancelEditing()">
                    </li>
                </ul>
            </section>
            <footer class="footer">
                <span class="todo-count">
                    <strong>{{ remaining }}</strong> {{ remainingText }} left
                </span>
                <ul class="filters">
                    <li><a @click.prevent="visibility='all'" href="#/all"
                            :class="{selected:visibility == 'all'}">All</a></li>
                    <li><a @click.prevent="visibility='active'" href="#/active"
                            :class="{selected:visibility == 'active'}">Active</a></li>
                    <li><a @click.prevent="visibility='completed'" href="#/completed"
                            :class="{selected:visibility == 'completed'}">Completed</a></li>
                </ul>
                <button class="clear-completed" @click="removeCompleted(todo)">
                    Clear completed
                </button>
            </footer>
        </section>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/vue-todo.js"></script>
</body>

</html>
